.margeHaut
{
    margin-bottom: 15px;
}

html,body
{
    margin: 0;
    height: 100%;
}
.bg
{
    background-image: url("../img/BobsBurgers.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

}
.hauteur100{
    height: 100%;
}


.backrouge1
{
    background: orange;
    height: 300px;
    text-align: center;

}
.backrouge2
 {
     background: orange;
     height: 200px;
     text-align: center;

 }
.backrouge3
{
    background: orange;

}
hr{
    padding-bottom:30px;
    padding-top:30px;
    max-width: 500px;
    border-width: 5px;
    border-color: #f05f40;
}

.zero{
    margin: 0;
    padding: 0;
}

.parallax1 {
    background-image: url("../img/Paralax1Bob.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

.parallax2 {
    background-image: url("../img/Paralax2Bob.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}
.padingtop
{
    padding-top: 15px;
}
.margin
{
    margin-right: 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 500px){

    .bg{
        background-image: url("../img/BobsBurgersCell.jpg");
    }
}